/* Global styles starts here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Global styles ends here */

/* Main section */

main {
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  margin: auto;
  margin-bottom: auto;
}

/* Title */

h1.title {
  font-size: 3rem;
}

h2.title {
  font-size: 2rem;
}

/* Leaderboard */

section.leaderboard {
  width: 90%;
  padding: 7% 5%;
  display: flex;
  justify-content: space-between;
}

div.scoreboard {
  width: 50%;
  padding: 5px 0;
}

.refresh-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 35px;
  border: 3px solid #000;
  box-shadow: 5px 5px #000;
  font-size: 1rem;
  font-weight: 700;
  background: #fff;
  cursor: pointer;
}

.scores {
  width: 100%;
  margin-top: 25px;
  list-style: none;
  border: 3px solid #000;
  border-radius: 3px;
}

.scores > li {
  font-weight: 700;
  padding: 5px;
}

.scores > li:nth-child(even) {
  background-color: rgb(147, 219, 243);
}

div.addscore {
  width: 40%;
  padding: 5px;
}

#addScoreForm {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
}

#addScoreForm input {
  width: 100%;
  padding: 7px;
  border: 3px solid;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 1000;
}

input::placeholder {
  color: #000;
  font-weight: 1000;
}

.btn.submit {
  padding: 10px 25px;
}
